<h2><%= @patient.name %></h2>
<h3> Age: <%= @patient.age %></h3>

<strong>Appointments:</strong>
  <% @appointments.each do |appt| %>
    <p>
    <%=link_to "#{appt.doctor.name}: ", doctor_path(appt.doctor.id)%>
    <%=appt[:appointment_datetime].strftime("%B %d, %Y at %k:%M") %>
    </p> 
  <% end %> 
